<div class="top_main">
  <div class="top_page">
    <h4 class="unsubscribe_top">本当に退会しますか？</h4>
    <p>退会すると、会員情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
    <div class="unsubscribe">
      <li><%= link_to '退会しない', public_customer_path(current_customer), class: 'btn btn-primary' %></li>
  　   <li><%= link_to '退会する', public_withdrawal_path,class: 'btn btn-danger', method: :patch %> </li>
    </div>
  </div>
</div>