// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) heref: https://sass-lang.com/

.main-image{
  background-image: image-url('46234_main.jpg');
  background-size: cover;
  height: 30vh;
}

//topページ

.top_page{
  text-align: center;
}

.top_new_items{
  display: flex;
  justify-content: space-around;
  margin: 20px 50px;
}

.top_new_item{
  margin-right: 10px;
  padding: 0;
  text-align: center;
}

//Aboutページ
.about_main{
  margin: 20px 100px;
  text-align: center;
}

.about_image1{
  width: 350px;
  background-image: image-url('gahag-0009488078-1.jpg');
  background-size: cover;
  height: 30vh;
}

.about_image2{
  width: 350px;
  background-image: image-url('gahag-0114507215-1.jpg');
  background-size: cover;
  height: 30vh;
}

.about_image3{
  width: 350px;
  background-image: image-url('gahag-0004794703-1.jpg');
  background-size: cover;
  height: 30vh;
}

.image_posi{
  display: flex;
  margin: 50px 100px;
  text-align: center;
}

