// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.items_main{
  margin: 0 100px;
}

.items_title{
  margin: 47px 0;
  text-align: center;
}

.items_index{
  display: flex;
  flex-wrap: wrap;
}

.item{
  margin: 25px;
}