// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.orders_index{
  margin: 20px 100px;
}

.order_show{
    display: block;
    margin-right: 50px;
}

.order_show_posi{
    display: flex;
}

.order_show_main{
    margin: 20px 70px;
}

.order_show_item{
    margin-top: 50px;
}

.order_item{
    width: 350px;
}

.order_item_total{
    width: 50px;
}