
p{
  margin-left: 100px;
}

h6{
  margin: 150px;
}

.address_text{
  width: 500px;
}

.new_button{
  background: #92cb97;
}

.top_titel{
  margin-left: 100px;
}

.field{
  display: flex; 
  margin-left: 150px;
  margin-bottom: 20px;
}

input#customer_email{
  width: 400px;
  margin-left: 100px;
}

input#customer_password{
  width: 400px;
  margin-left: 130px;
}

.main_marge{
  margin: 50px;
}

.actions{
  margin-left: 350px;
}