<div class="about_main">
  <h3 class="about_titel">About</h3>
  <p>ながのCAKEは全国配達可能なケーキ屋さんです。</p>
  <p>子供からお年寄りの方までお召し上がりいただけるよう、</p>
  <p>さまざまなバリエーションをご用意しております。</p>
  <p>また、全国へ配達可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p>ぜひご注文ください。</p>
</div>

#画像??