<h1>会員一覧ページ</h1>

 <% @customers.each do |customer| %>
<div>
  <p>姓：<%= customer.last_name %></p>
  <p>名：<%= customer.first_name %></p>
  <p>姓（カナ）：<%= customer.last_name_kana %></p>
  <p>名（カナ）：<%= customer.first_name_kana %></p>
 </div> 
  <% end %>

</div>