<h1>会員一覧</h1>

<thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tobody>
    <% @customers.each do |customer| %>
    <tr>
        <td><%= customer.id %></td>
        <td><%= customer.last_name %><%= customer.first_name %></td>
        <td><%= customer.email %> %></td>

    </tr>
    <% end %>
  </tobody>

</div>