<div class="title">
  <div class="container">
    <div class="row">
      <div class="col-4">
          <h3>ジャンル編集</h3>
      </div>
    </div>
  </div>
</div>

<table  class='table table-hover table-inverse'>
  <div class='container'>
    <div class='row'>
      <div class='col-2'>
      ジャンル名
      </div>
      <div class='col-3'>
      <%= form_with model:@genre, url: admin_genre_path(@genre) do |f| %>
      <%= f.text_field :name %>
      </div>
      <div class='col-3'>
      <%= f.submit '変更を保存', class: 'btn btn-success font-weight-bold' %>
      <% end %>
      </div>
     </div>
  </div>
</table>
