// Place all the styles related to the admin/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-image {
  justify-content: center;
  margin: 100px;
  background-image: image-url('log-in.jpeg');
}

.header {
  padding: 20px;
  text-align: center;
}
.well {
  padding: 20px;
  margin: 20px;
  border: 1px solid;
  text-align:  center;
}

.field {
  margin-bottom: 15px;
}


.btn-primary {
  width: 25%;
}