// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a.btn.btn-danger.cart_item{
  margin-right: 300px;
  margin-bottom: 10px;
}

.cart_items_index{
  margin-right: 370px;
  margin-top: 10px;
  margin-bottom: 10px;
}