<h2>商品一覧</h2>
<h4>全<%= @items.count %>件</h4>
<% @items.each do |item| %>
  <%= image_tag item.image, size:'50x100' %>
    <%= link_to item.name, orders_path %>
      <p>￥<%= item.price.to_s(:delimited) %></p>
<% end %>
